@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap");

body {
  background: url("/bg-1.png") no-repeat;
  background-size: cover;
}

h1 {
  @apply text-3xl font-bold;
}

.caveat-brush-regular {
  font-family: "Caveat Brush", cursive;
  font-weight: 90000;
  font-style: bold;
}
